<h1>Users</h1>
<br />
<div class="row" style="display: flex; justify-content: flex-end;">
    <div class="col-2">
        <button class="btn btn-primary" (click)="Create()">
        <i class="bi bi-person-plus-fill"></i>&nbsp;Add new
        </button>
    </div>    
</div>
<br />
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th class="col-3">
                First Name
            </th>
            <th class="col-3">
                Last Name
            </th>
            <th class="col-3">
                Email
            </th>
            <th></th>
        </tr>        
    </thead>
    <tbody>
        @for(item of lstUsers; track item.id){
            <tr>
                <td>{{ item.firstName }}</td>
                <td>{{ item.lastName }} </td>
                <td>{{ item.email }}</td>   
                <td>
                    <button class="btn btn-info" (click)="Details(item.id)">
                        <i class="bi bi-info-square"></i>&nbsp; Details
                    </button>
                </td>             
            </tr>
        }
    </tbody>
</table>
