USE [master]
GO
/****** Object:  Database [TaskingDB]    Script Date: 29/01/2026 3:07:23 p. m. ******/
CREATE DATABASE [TaskingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TaskingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TaskingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskingDB]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 29/01/2026 3:07:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 29/01/2026 3:07:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[AdditionalInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/01/2026 3:07:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DocumentNumber] [nvarchar](15) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](20) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([Id], [Name]) VALUES (1, N'Pending')
INSERT [dbo].[Statuses] ([Id], [Name]) VALUES (2, N'InProgress')
INSERT [dbo].[Statuses] ([Id], [Name]) VALUES (3, N'Done')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Tasks] ON 

INSERT [dbo].[Tasks] ([Id], [Name], [UserId], [StatusId], [Duration], [CreationDate], [UpdateDate], [AdditionalInfo]) VALUES (1, N'Finish report', 1, 1, 24, CAST(N'2026-01-29T14:47:05.560' AS DateTime), NULL, N'{"Priority": "High", "EndDate": "2026-01-29", "Labels": ["Urgent", "Accounting"], "Metadata": {"Author": "Julian Gómez"}}')
INSERT [dbo].[Tasks] ([Id], [Name], [UserId], [StatusId], [Duration], [CreationDate], [UpdateDate], [AdditionalInfo]) VALUES (2, N'Deploy to Production', 2, 1, 8, CAST(N'2026-01-29T14:47:05.563' AS DateTime), NULL, N'{"Priority": "Medium", "EndDate": "2026-01-30", "Labels": ["Urgent", "Infrastructure"], "Metadata": {"Author": "Pedro Sánchez"}}')
INSERT [dbo].[Tasks] ([Id], [Name], [UserId], [StatusId], [Duration], [CreationDate], [UpdateDate], [AdditionalInfo]) VALUES (3, N'Testing', 2, 1, 8, CAST(N'2026-01-29T14:47:05.563' AS DateTime), NULL, N'{"Priority": "Low", "EndDate": "2026-01-31", "Labels": ["Not urgent", "Testing"], "Metadata": {"Author": "Luis Ramirez"}}')
SET IDENTITY_INSERT [dbo].[Tasks] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [DocumentNumber], [PhoneNumber], [Email], [CreationDate]) VALUES (1, N'Andres', N'Diaz', N'1234567890', N'25874495', N'a@a.net', CAST(N'2025-01-28T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [DocumentNumber], [PhoneNumber], [Email], [CreationDate]) VALUES (2, N'Felipe', N'Castro', N'4189989819', N'51818919941', N'a@c.net', CAST(N'2026-01-29T12:18:15.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 29/01/2026 3:07:24 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Statuses]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Users]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [CHK_Tasks_AdditionalInfo_JSON] CHECK  ((isjson([AdditionalInfo])=(1)))
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [CHK_Tasks_AdditionalInfo_JSON]
GO
USE [master]
GO
