<h1>Create New User</h1>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="p-4 border rounded">
            <form [formGroup]="createForm" (ngSubmit)="Save()">
                <div class="mb-3">
                    <label for="fNameInput" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="fNameInput"formControlName="firstName" placeholder="Enter user first name"/>            
                    @if(createForm.get('firstName')?.invalid && createForm.get('firstName')?.touched && createForm.get('firstName')?.errors!['required']){
                        <div class="text-danger mt-1">
                            This field is required
                        </div>
                    }
                    <label for="lNameInput" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lNameInput"formControlName="lastName" placeholder="Enter user last name"/>            
                    @if(createForm.get('lastName')?.invalid && createForm.get('lastName')?.touched && createForm.get('lastName')?.errors!['required']){
                        <div class="text-danger mt-1">
                            This field is required
                        </div>
                    }
                    <label for="dNumberInput" class="form-label">Document Number</label>
                    <input type="number" min="0" step="1" class="form-control" id="dNumberInput"formControlName="documentNumber" placeholder="Enter user document number"/>            
                    @if(createForm.get('documentNumber')?.invalid && createForm.get('documentNumber')?.touched && createForm.get('documentNumber')?.errors!['required']){
                        <div class="text-danger mt-1">
                            This field is required
                        </div>
                    }            
                    <label for="emailInput" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="emailInput"formControlName="email" placeholder="Enter user email"/>            
                    @if(createForm.get('email')?.invalid && createForm.get('email')?.touched && createForm.get('email')?.errors!['required']){
                        <div class="text-danger mt-1">
                            This field is required
                        </div>
                    }
                    @if(createForm.get('email')?.invalid && createForm.get('email')?.touched && createForm.get('email')?.errors!['email']){
                        <div class="text-danger mt-1">
                            Please enter a valid email.
                        </div>
                    }
                    <label for="phoneInput" class="form-label">Phone number</label>
                    <input type="number" min="0" step="1"  class="form-control" id="phoneInput"formControlName="phoneNumber" placeholder="Enter user phone number"/>            
                    @if(createForm.get('phoneNumber')?.invalid && createForm.get('phoneNumber')?.touched && createForm.get('phoneNumber')?.errors!['required']){
                        <div class="text-danger mt-1">
                            This field is required
                        </div>
                    }            
                </div>
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
                &nbsp;
                <button type="button" class="btn btn-secondary" (click)="GoBack()" >
                    Go back
                </button>
            </form>
        </div>
    </div>
</div>
